<div class="dropdown dropdown-bottom sm:dropdown-right">
  <div tabindex="0" role="button" class="btn btn-outline xl:btn-xl">
    Areas Lucy visits
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-100 rounded-box shadow mt-2 w-56"
  >
    <li class="menu-title">
      <span>Service areas</span>
    </li>
    <li><span>Bouremouth &amp; Poole</span></li>
    <li><span>Christchurch</span></li>
    <li><span>Southbourne</span></li>
    <li><span>Boscombe</span></li>
    <li><span>New Milton</span></li>
    <li><span>Ringwood</span></li>
  </ul>
</div>
