<div class="dropdown dropdown-bottom sm:dropdown-right">
  <button type="button" tabindex="0" class="btn btn-outline xl:btn-xl">
    Areas Lucy visits
  </button>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-100 xl:text-lg rounded-box shadow mt-2 w-56"
  >
    <li class="menu-title xl:text-xl">
      <span>Service areas</span>
    </li>
    <li><span>Bouremouth &amp; Poole</span></li>
    <li><span>Christchurch</span></li>
    <li><span>Southbourne</span></li>
    <li><span>Boscombe</span></li>
    <li><span>New Milton</span></li>
    <li><span>Ringwood</span></li>
  </ul>
</div>
