---
const areas = [
  "Bournemouth",
  "Poole",
  "Christchurch",
  "Southbourne",
  "Boscombe",
  "New Milton",
  "New Forest",
  "Ringwood",
  "Hampshire",
  "Dorset",
];
---

<footer class="footer flex flex-col gap-8 bg-neutral text-neutral-content p-10">
  <div
    class="flex flex-wrap gap-8 sm:flex-nowrap sm:justify-between sm:items-start max-w-3xl mx-auto"
  >
    <nav aria-label="Footer services">
      <h2 class="footer-title xl:text-xl">Our Services</h2>
      <p class="mb-4 prose lg:prose-xl text-base-100">
        Mobile hairdressing services to help you look and feel your best. Proud
        to serve neurodivergent clients and carers.
      </p>
      <a href="/services" class="link link-hover xl:text-xl">Our Services</a>
    </nav>
    <div>
      <h2 class="footer-title xl:text-xl">Areas we cover</h2>
      <ul class="xl:text-xl">
        {areas.map((area) => <li>{area}</li>)}
      </ul>
    </div>
  </div>
  <div class="w-full text-center border-t border-neutral-content/20 pt-6">
    <p>© {new Date().getFullYear()} Lucy Russell Hair</p>
  </div>
</footer>
