---
interface Props {
  href: string;
  label: string;
}

const { href, label }: Props = Astro.props;
const pathname = Astro.url.pathname;

const isActive =
  href === "/"
    ? pathname === "/"
    : pathname === href || pathname.startsWith(`${href}/`);
---

<a
  href={href}
  class:list={[
    "px-1 py-0.5 transition-colors border-b-2 border-transparent text-base-content/90 hover:text-base-content hover:border-base-content/50",
    isActive &&
      "text-base-content! border-base-content! font-medium border-b-2",
  ]}
  aria-current={isActive ? "page" : undefined}
>
  {label}
</a>
