<div class="dropdown dropdown-end mr-10">
  <div
    tabindex="0"
    role="button"
    class="btn xl:btn-lg m-1 btn-primary"
    aria-label="Theme"
    aria-haspopup="listbox"
  >
    Theme
    <svg
      width="12px"
      height="12px"
      class="inline-block h-2 w-2 fill-current opacity-60"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048"
    >
      <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
      ></path>
    </svg>
  </div>
  <ul
    tabindex="-1"
    role="listbox"
    class="dropdown-content bg-primary rounded-box z-1 w-52 p-2 shadow-2xl xl:text-xl"
  >
    <li role="option">
      <button
        type="button"
        data-set-theme="sereneSage"
        class="w-full btn xl:btn-lg btn-block btn-ghost justify-start text-primary-content hover:text-white hover:!bg-black/25"
        aria-label="Default"
        aria-selected="false"
      >
        Default
      </button>
    </li>
    <li role="option">
      <button
        type="button"
        data-set-theme="lowStimuli"
        class="w-full btn xl:btn-lg btn-block btn-ghost justify-start text-primary-content hover:text-white hover:!bg-black/25"
        aria-label="Dark"
        aria-selected="false"
      >
        Dark
      </button>
    </li>
    <li role="option">
      <button
        type="button"
        data-set-theme="clearSight"
        class="w-full btn xl:btn-lg btn-block btn-ghost justify-start text-primary-content hover:text-white hover:!bg-black/25"
        aria-label="High contrast"
        aria-selected="false"
      >
        High contrast
      </button>
    </li>
  </ul>
</div>
